<% include ./partials/header %>
<div class="ui main text container segment" style='margin-top:7em'>
    <div class="ui huge header">EDIT <%= blog.title %></div>
    <form class="ui form" action="/blog/<%= blog._id %>?_method=PUT" method="POST">
    <div class="field">
        <label>Title</label>
        <input type="text" placeholder="Title" value="<%= blog.title %>" name="blog[title]">
    </div>
    <div class="field">
            <label>Image</label>
            <input type="text" placeholder="Title" value="<%= blog.image %>" name="blog[image]">
    </div>
    <div class="field">
        <label>Body</label>
        <textarea name="blog[body]" required> <%= blog.body %> </textarea>
    </div>
    <div class="ui inverted sement">
        <button class="ui inverted primary button">Submit</button>
    </div>
    </form>
</div>


<% include ./partials/footer %>